<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        
        {% if page.lang == "en" %}
            <h1 class="sitetitle">MY BEAUTIFUL WEBSITE</h1>
        {% elsif page.lang == "is" %}
            <h1 class="sitetitle">FALLEGA VEFSÍÐAN MÍN</h1>
        {% endif %}
        
        <div class="nav">
            {% include navigation.html %}
        </div>
    </header>

    <div class="body">
        {{ content }}
    </div>

    <footer>
        <p>{% include name.html %} @ 2022</p>
    </footer>
</body>
</html>